<h1 class="text-center my-5">
    Liste des Élèves
</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Prénom/Nom</th>
            <th scope="col">Age</th>
            <th scope="col">Classe</th>
            <th scope="col">Cours</th>
            <th scope="col">Parent</th>
            <th scope="col">Détails</th>
        </tr>
    </thead>
    <tbody>
        {{#each students}}
        <tr>
            <td scope="col">
                {{this.name}}
            </td>
            <td scope="col">
                {{this.age}} ans
            </td>
            <td scope="col">
                {{this.level}}
            </td>
            <td scope="col">
                {{this.lessons}}
            </td>
            <td scope="col">
                <a href="/student/{{this.parent.id}}">{{this.parent.name}}</a>
            </td>
            <td>
                <a href="/student/{{this.id}}"><i class="fa-solid fa-arrow-up-right-from-square"></i> Voir</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>